/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #FF585D ;
$secondary: #7dc349;
$tertiary: #7dc349;

// $tertiary: #dabb0e;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/13483278_630624373754224_3282533544753907817_o.jpg?_nc_cat=0&oh=5def066abb7fbbc10979af65e59c216c&oe=5B8BD3BA');
